:root {
    --secondary-color: #ffc800;
    --headings-font-size: 30px;
    --headings-font-weight: 500;
    --headings-text-align: center;



}


.landing{
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Adjust the opacity to control darkness */
}


.viewImage{
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);

}

.viewImage img{

    height: 100%;
    width: 100%;
    object-fit: fill;
    /* overflow: hidden; */
    background-size: cover; 
    background-position: center;
}
.content, .content-prop{
    margin-left: 30px;
    position: absolute;
    height: inherit;
    display: flex;
    align-items: center;
    animation: appear 1s ease;
    
}
@keyframes appear{
    0%{
        margin-top: 70px;
    }
    100%{
        margin-top: 0px;
    }
}


.content-prop{
    width: 100%;
    justify-content: center;
}

.content div p, .content-prop div p{
    color:#fff;
    font-weight: 200;
    margin: 0;
    padding: 0;

}

.content div h1, .content-prop div h1{
    color: var(--secondary-color);
    font-size: 50px;
    margin: 0;
    padding: 0;
}
.content div h1 span, .content-prop div h1 span{
    color: #fff;
}

.goodnote,  .projects{
    display: flex;
    justify-content: center;
    margin-top: 40px;

}

.title{
    font-size: var(--headings-font-size);
    font-weight: var(--headings-font-weight);
    text-align: var(--headings-text-align);
    margin-top: 100px;
}

.categories, .project-area{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    gap:40px
}

.prop-info{
    margin-top: 30px;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    animation: appear 1s ease;
    padding: 20px 0 20px 0;

    & a:nth-child(1){
        position: absolute;
        bottom: 50px;
        right: 50px;
        width: 100%;
    }
    & a:nth-child(2){
        display: none;
    }
    & button{
      background-color: #ffc800;
      color: #000;  
      outline: none;
      border: none;
      height: 40px;
      width:  100%;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.5s ease;
    }
    & button:hover{
        background-color: #bb9406;
        transition: 0.5s ease;
        color:#fff;
    }


}

/* .room-spec {
    display: flex;
    background-color: red;
    width: 50%;


    & h2{
        margin: 0;
    }
    & p{
        margin: 0;
    }
} */

/* .room-spec div{
    display: flex;
    flex-direction: column;
    background-color: blue;
    
} */

.img-area, .text-area{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.img-area{
    width: 40%;
}

.img-area img{
    position:absolute;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: fill

    ;
    /* overflow: hidden; */
    background-size: cover; 
    background-position: center;
    border-radius: 20px;


}

.text-area{
    border-radius: 20px;
    display: flex;
    width:40%;
    /* position: relative; */
    right: 0;
    top: 0;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    flex-direction: column;

    /* transition: transform 1s ease-in-out; */
    & h1, h2{
        margin: 0;
        
    }
    & h4{
        margin: 20px;
    }
    & A{
        margin: 20PX;
        width: 105px;
    }
    & p{
        margin: 0;
       
    }

        & p{

        }
    }

.room-spec{
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap:10px;
    width: 60%;
    margin-left: 20px;
    margin-top: 10px;
    
}

.location{
    display: flex;
    margin: 70px 0 50px 20px;
}
.visit-content{
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50p;
}

.app-sections{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

    & div{
        height: 300px;
        width:300px;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        margin-top: 10px;
    
    }

    & div img{
        background-position: center;
        background-size: center;
        object-fit: fill;
        height: 100%;
        width: 100%;
    }

}

.agents{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
        
}
.brief{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    & p{
        width: 60%;
    }

}
.hide-side{
    display: none;
}

.menu-items{
    display:none;
}


.app-content1{
    display: none;
}

#map{
    height: 300px;
    width: 100%;
}

.animate {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animate.visible {
    opacity: 1;
    transform: translateY(0);
}

.show{
    opacity: 0;
}

.message{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 20px;
    margin-top: 30px;

    & div{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-bottom: 20px;
    }

    & div input{
       height: 30px;
       outline: none;
       border: 1px solid #000;
       padding-left: 20px;
    }

    & div textarea{
        height: 100px;
        padding-left: 20px;
        padding-right: 10px;
    }

    & div button {
        height: 30px;
        background-color: #ffc800;
        color :#fff;
        outline: none;
        border:none;
        cursor: pointer;
    }

    & div button:hover{
        background-color: #bb9406;
        transition: 0.5s ease;
        color:#fff;
    }
}
