.footer{
    margin-top: 30px;
}

.footer-div{
    display: flex;
    height: 250px;
    width: 100%;
    background-color: #000;
}
.user, .user-f{
    color:#ffc800 ;
    z-index: 99999;
    height: 100%;
    width:250px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;

    & i{
        cursor: pointer;
    }
}

.logo-area1 img{
    height: 93px;
    width: 200px;

}

