:root {
    --secondary-color: #ffc800;
    --headings-font-size: 30px;
    --headings-font-weight: 500;
    --headings-text-align: center;



}


.landing{
    width: 100vw;
    height: 450px;
    
}

.cover{
    width: 100vw;
    height: 450px;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99;
}

.viewImage{
    height: 100%;
    width: 100%;
}

.viewImage img{
    height: 100%;
    width: 100%;
    object-fit: fill;
    /* overflow: hidden; */
    background-size: cover; 
    background-position: center;
}

.content{
    margin-left: 30px;
    position: absolute;
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    z-index: 99999;
}
.content div p{
    color:#fff;
    font-weight: 200;
    margin: 0;
    padding: 0;

}

.content div h1{
    color: var(--secondary-color);
    font-size: 50px;
    margin: 0;
    padding: 0;
}
.content div h1 span{
    color: #fff;
}

.goodnote,  .projects{
    display: flex;
    justify-content: center;
    margin-top: 40px;

}

.title{
    font-size: var(--headings-font-size);
    font-weight: var(--headings-font-weight);
    text-align: var(--headings-text-align);
}

.categories, .project-area{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    gap:40px
}

