/* mobile */
@media (max-width:600px){
    body{
        width:100vw;
    }
    header nav{
        display: none;
    }

    .menu{
        display: flex;
    }
    .prop-info{
        position: relative;
        flex-direction: column-reverse;
        height:300px ;

        & a:nth-child(2){
            position: absolute;
            display: block;
            right: 20px;
            bottom: 30px;
            width: 80px;
        }

        & a{
            display: none;
        }

    }

    .content-prop div h1 span{
        font-size: 60px;
        
    }


    .img-area, .slide{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;

        & img{
            width: 80%;
            position: relative;
            object-fit: cover;
        }

        
    }

    .slider-div{
        height: 340px;
    }

    .text-area{
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 30px;
        background-color: transparent;
        border: none;
        & h4{
            display: none;
        }


        & span{
            display: none;
        }
        & h1{
            font-size: 20px;
        }
       & p{
            display: none;
            text-align: center;
            
        }

        & div p{
            display: none;
        }
     }
    .location{
        display: none;
    }


    .room-spec{
        display:none;
    }

     .slide {
        & h1{
            display: none;
        }
        & img{
            border-radius: 20px;
            margin-top: 125px;
        }
     }
     .app-content{
        display:none;
     }
     .visit-content{

        & h1{
            font-size: 25px;
        }
     }

     .footer-div{
        height: 150px;
        flex-direction: column;
        align-items: center;
     }

     .user{
        display: none;
     }


     .menu-items{
        display: flex;
        flex-direction: column;
        position: fixed;
        right: -100%;
        height: 200vh;
        background-color: rgba(0, 0, 0, 0.9);
        width: 180px ;
        color:#fff;
        transition: 2s ease;
        z-index: 999999;
        top: 0;

        & ul {
            margin-top: 70px;
        }
        & span{
            color:#ffc800;
            text-align: center;
            position: absolute;
            right: 20px;
            top: 20px;
        }

        & ul li{
            list-style: none;
            margin-bottom: 20px;
        }

        & ul li a{
            text-decoration: none;
            color: #ffc800;
        }


        
     }

     .nv-list{
        display: flex;
        z-index: 9999999;
     }

     .project{
        height: 300px;
        width: 300px;
     }

     .brief p{
        width: 90%;
     }

     .app-content1{
        display: flex;
        align-items: center;
        flex-direction: column;

        & div div{
            justify-content: center;
            align-items: center;
            text-align: center;
        }

     }
     .menu-area{
        display: none;

     }
     .events{
        padding-bottom: 10px;
     }

     .hide-side{
        display: flex;
        position: absolute;
        height: 100vh;
        width:100%;
        z-index: 9999;
     }
}


/* Table devices  */
@media (min-width:601px) and (max-width:768px){
    body{
        width:100vw;
    }
    header nav{
        display: none;
    }
    .menu{
        display: flex;
    }

    .user{
        display: none;
     }



}
